*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: inter;
    text-decoration: none;
    list-style-type: none;
}
a.cart {
    /* display: none; */
}
img{
    max-width: 100%;
}
.container-fluid{
    width: 100%;
    /* max-width: 1375px; */
    padding: 0px 30px;
    margin: 0px auto;
}
.container{
    /* width: 1180px; */
    max-width: 1180px;
    margin: 0px auto;
}
.container-full {
    width: 100%;
    margin: 0px auto;
}

/* header */

header{
    /* padding-top: 30px; */
}
.head-left form{
    width: 314px;
}
.head-left .btn input{
    outline: none;
    width: 188px;
    border: none;
    background: transparent;
    font-size: 20px;
    color: black;
}
.head-left {
    padding-top: 28px;
    padding-bottom: 16px;
}
button{
    border: none;
}
.btn{
    position: relative;
    font-size: medium;
border: none;    
    width: 314px;
    background: #dbdbdb52;
    padding: 20px 20px 20px 10px ;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.head-middle{
    padding-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 33px;
}
.head-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 36px;
}

.head-right a{
    padding-top: 44px;
    padding-right:5px;
}
.head-bottom{
    border-top:1px solid#00000041 ;
    grid-column: span 3;
    padding: 24px 0px;
}
.head-bottom ul{
    gap: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container-fluid .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.head-bottom ul li a {
    font-size: 20px;
    color: #000000b6;
}
/* home */
/* section */
section.home .container-full .row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
section.home .container-full .card{
    position: relative;
}
section.home .container-full .card-content{
    position: absolute;
    right: 45px;
    bottom: 30px;
}
section.home .container-full .card-content h2{
    font-size: 34px;
    color: white;
}
/* collection */
.more{
    width: 123px;
    color:  #438565;
    border: solid 2px #438565;
    padding: 6px 22px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more i{
    color: #438565;
}

section.collection .row .card{
    position: relative;
    padding: 17px 17px 0px 17px;

}
section.collection .row .card .card-new{
    /* width: 83px; */
    padding: 3px 23px;
    /* height: 24px; */
    text-align: center;
    position: absolute;
    top: 8.6px;
    right: -28px;
    color: white;
    background: #F88240;
}
section.collection{
    padding-bottom: 100px;
}
section.collection .container .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0px 40px 0px;
}
section.collection .container .heading .hcontent h1{
    font-size: 48px;
    font-weight: 700;
 line-height: 58.09px;
}

section.collection .container .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 53px;
}
section.collection .container .row .card{
    background: #ffffff7e;
    border: 1px solid #00000041;
    border-radius: 16px;
    max-height: 493px;

    /* max-height: 493px; */
}

section.collection .container .row .card .card-img img{
    width: 100%;
}

section.collection .container .row .card .card-cont{
    
    padding: 0px 7px 16px 7px;
}
section.collection .container .row .card .card-cont .card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.collection .container .row .card .card-cont .card-top .item-name h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

section.collection .container .row .card .card-cont .card-middle a{
    color: #000000bd;
    font-size: 14px;
}
section.collection .container .row .card .card-cont .card-middle{
    padding-top: 4px;
}
section.collection .container .row .card .card-cont .card-bottom{
    display: flex;
    /* padding-top: 26px; */
    justify-content: space-between;
    align-items: flex-end;
}
section.collection .container .row .card .card-cont .card-bottom .item-price h4{
    font-size: 22px;
}
section.collection .container .row .card .card-cont .card-bottom .cart{
    padding: 14px 14px 11px 14px;
    background: #438546;
    border-radius: 50%;
}

section.collection .container .row .card .card-cont .card-bottom .cart i{
    color: white;
    font-size: 20px;
}
/* discount */
section.discount{
    padding-bottom: 50px;
}
section.discount .container-full .row .boiii{
    box-shadow: 8px 10px 35px 3px #0000000F;
    padding: 20px 0px;
}

section.discount .container-full .slide1{
display: flex;
justify-content: space-between;
align-items: center;
}

/*t-shirt  */
.more{
    width: 123px;
    
    color:  #438565;
    border: solid 2px #438565;
    padding: 6px 22px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more i{
    color: #438565;
}
section.T-shirt{
    padding-bottom: 100px;
}
section.T-shirt .container .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0px 40px 0px;
}
section.T-shirt .container .heading .hcontent h2{
    font-size: 48px;
    font-weight: 700;
 line-height: 58.09px;
}

section.T-shirt .container .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 53px;
}
section.T-shirt .container .row .card{
    background: #ffffff7e;
    border: 1px solid #00000041;
    border-radius: 16px;
    padding: 17px 17px 0px 17px;
    max-height: 493px;

    /* height: 493px; */
}

section.T-shirt .container .row .card .card-img img{
    width: 100%;
    /* padding: 17px 17px 0px 17px; */
}

section.T-shirt .container .row .card .card-cont{
    padding: 0px 7px 16px 7px;
}
section.T-shirt .container .row .card .card-cont .card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.T-shirt .container .row .card .card-cont .card-top .item-name h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

section.T-shirt .container .row .card .card-cont .card-middle a{
    color: #000000bd;
    font-size: 14px;
}
section.T-shirt .container .row .card .card-cont .card-middle{
    padding-top: 4px;
}
section.T-shirt .container .row .card .card-cont .card-bottom{
    display: flex;
    /* padding-top: 26px; */
    justify-content: space-between;
    align-items: flex-end;
}
section.T-shirt .container .row .card .card-cont .card-bottom .item-price h4{
    font-size: 22px;
}
section.T-shirt .container .row .card .card-cont .card-bottom .cart{
    padding: 15px;
    background: #438546;
    border-radius: 50%;
}

section.T-shirt .container .row .card .card-cont .card-bottom .cart i{
    color: white;
    font-size: 20px;
}
/* socks and cap */

.more{
    width: 123px;
    border: solid 2px #438565;
    padding: 6px 22px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color:  #438565;
}
.more i{
    color: #438565;
}
section.socksandcap{
    padding-bottom: 100px;
    background: #fafafa;
}
section.socksandcap .container .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0px 40px 0px;
}
section.socksandcap .container .heading .hcontent h2{
    font-size: 48px;
    font-weight: 700;
 line-height: 58.09px;
}

section.socksandcap .container .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 53px;
}
section.socksandcap .container .row .card{
    background: #ffffff7e;
    border: 1px solid #00000041;
    border-radius: 16px;
    padding: 17px 17px 0px 17px;

    /* height: 493px; */
}

section.socksandcap .container .row .card .card-img img{
    width: 100%;
    /* padding:  17px 17px 0px 17px; */
}

section.socksandcap .container .row .card .card-cont{
    
    padding: 0px 7px 16px 7px;
}
section.socksandcap .container .row .card .card-cont .card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.socksandcap .container .row .card .card-cont .card-top .item-name h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}

section.socksandcap .container .row .card .card-cont .card-middle a{
    color: #000000bd;
    font-size: 14px;
}
section.socksandcap .container .row .card .card-cont .card-middle{
    padding-top: 4px;
}
section.socksandcap .container .row .card .card-cont .card-bottom{
    display: flex;
    /* padding-top: 26px; */
    justify-content: space-between;
    align-items: flex-end;
}
section.socksandcap .container .row .card .card-cont .card-bottom .item-price h4{
    font-size: 22px;
}
section.socksandcap .container .row .card .card-cont .card-bottom .cart{
    padding: 15px;
    background: #438546;
    border-radius: 50%;
}

section.socksandcap .container .row .card .card-cont .card-bottom .cart i{
    color: white;
    font-size: 20px;
}

/* women */


.more{
    
    color:  #438565;
    width: 123px;
    border: solid 2px #438565;
    padding: 6px 22px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.more i{
    color: #438565;
}
section.women{
    padding-bottom: 100px;
}
section.women .container .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 0px 40px 0px;
}
section.women .container .heading .hcontent h2{
    font-size: 48px;
    font-weight: 700;
 line-height: 58.09px;
}

section.women .container .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 53px;
}
section.women .container .row .card{
    background: #ffffff7e;
    border: 1px solid #00000041;
    border-radius: 16px;
    padding: 17px 17px 0px 17px;
    max-height: 493px;
    /* height: 493px; */
}

section.women .container .row .card .card-img img{
    width: 100%;
    /* padding: 17px 17px 0px 17px; */
}

section.women .container .row .card .card-cont{

    padding: 0px 7px 16px 7px;
}
section.women .container .row .card .card-cont .card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.women .container .row .card .card-cont .card-top .item-name h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: black;
}

section.women .container .row .card .card-cont .card-middle a{
    color: #000000bd;
    font-size: 14px;
}
section.women .container .row .card .card-cont .card-middle{
    padding-top: 4px;
}
section.women .container .row .card .card-cont .card-bottom{
    display: flex;
    /* padding-top: 26px; */
    justify-content: space-between;
    align-items: flex-end;
}
section.women .container .row .card .card-cont .card-bottom .item-price h4{
    font-size: 22px;
}
section.women .container .row .card .card-cont .card-bottom .cart{
    padding: 15px;
    background: #438546;
    border-radius: 50%;
}
section.women .container .row .card .card-cont .card-bottom .cart i{
    color: white;
    font-size: 20px;
}
/* footer */
footer{
    /* padding: 83px 0px 80px 0px; */
    background:#438565;
    color: white;
}

footer .purchase h3{
    font-size: 23.6px;
    padding-bottom: 20px;
}
footer .purchase ul li a{
    color: #FFFFFFCC;
    font-size: 21px;
    line-height: 35px;
    font-weight: 400;
}
footer .cust-ser h3{
font-size: 23.4px;
padding-bottom: 20px;

}

footer .cust-ser ul li a{
    color: #FFFFFFCC;
    font-size: 21px;
    line-height: 35px;
    font-weight: 400;

}
footer .contact h3{
    font-size: 24px;
    padding-bottom: 20px;
    
}    
    footer .contact ul li a{
        color: #FFFFFFCC;
        font-size: 21px;
        line-height: 35px;
        font-weight: 400;
    
    }
    
    footer .social-links {
        /* padding-left: 174px ; */
        justify-self: end;
    }
    
    footer .social-links .icons
    {
        display: flex;
        justify-content: center;
        gap: 8px;
    }
    footer .social-links .icons  a{
        /* color: white; */
        color: #FFFFFFCC;
        font-size: 24px;
        text-align: center;
    }    

    footer .container-fluid{
        padding: 83px 94px 80px 50px;
    }
    footer .container-fluid .row{
        display: grid;
        grid-template-columns: 206px 206px 174px 1fr;
        column-gap: 124px;
    }


    @media screen and (min-width:1600px) {
        .container-full{
            max-width:1300px;
            width: 100%;
            margin: auto;
        }
    }